$color_border: #e3e3e3;
$color_text: #505457;
$color_light_text: #7f8a8e;
$color_dark_text: #494d51;

$color_green: #687864;
$color_darkblue: #31708e;
$color_blue: #5085a5;
$color_lightblue: #8fc1e3;
$color_grey: #f7f9fb;