.Footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #31708e;
  color: #fff;
  font-size: 0.9rem;
  padding: 20px 0 10px 0;
  .footer-wrapper {
    .footer-left {
      // font-size: 0.8rem;
      // padding: 10px;
      // margin-top: 10px;
    }
    .footer-right {
      // display: flex;
      // flex-direction: row;
      // justify-content: flex-end;
      // align-items: center;
      .footer-text {
        // font-size: 0.8rem;
        // margin: 0 10px 3px 0;
      }
      .footer-item {
      }
    }
  }
}
