.PersonCard {
  width: 100%;
  min-height: 350px;
  padding: 30px 20px;
  .person-image {
    width: 100%;
    min-width: 310px;
  }
  .person-name {
    padding-top: 30px;
    font-size: 1.0rem;
  }
  hr {
    margin-top: 10px;
    width: 100%;
  }
  .person-title {
    font-size: 0.8rem;
  }
  .person-text {
    padding-top: 30px;
    font-size: 0.8rem;
  }
}