.SectionTextTop {
  .sec-tt-wrapper {
    padding: 70px 50px 20px 50px;
    text-align: center;
    .sec-tt-header {
      font-size: 1.6rem;
      margin: 20px 0;
    }
    .sec-tt-bottom {
      margin: 20px 0;
      .sec-tt-content {
        margin: 20px 0;
      }
      .sec-tt-btn {
        margin: 20px 0;
      }
    }
  }
}