.SellingPage {
  padding-top: 80px;
  .selling-main {
    margin: 50px 0 10px 0;
  }
  .selling-btn {
    margin-bottom: 120px;
    padding: 10px 50px;
    border: solid 3px #31708e;
    font-weight: 700;
    background-color: #31708e;
    color: #fff;
  }
}